* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
header {
  height: 10%;
}
main {
  min-height: 60%;
}
footer {
  min-height: 30%;
}
.form-floating p {
  color: rgb(255, 38, 0);
  font-size: 0.8rem;
}
.tick {
  fill: aqua;
}
